.animate{
   background-color: black;
   color: #ffff;
   margin-right: 20%;
}
.animate{
   -webkit-animation: 0.6s;
   animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom{
   from {-webkit-transform: scale(0);}
   to{-webkit-transform: scale(1);}
}
@keyframes animatezoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

.name{
   border-radius: 20px;
   padding: 12px;
}

#email{
   border-radius: 20px;
}

.bold{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 12px;
   border-radius: 20px;
   text-align: center;
   box-sizing: border-box 20px;
   cursor: pointer;
   width: 570px;
}

.button{
   position: center;
   padding: 14px 20px;
   width: 300px;
   text-align: center;
   border-radius: 20px;
   cursor: pointer;
}

h1{
   font-style: normal bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 100%;
   text-align: left;
   background-color:black;
   color: aliceblue;
   text-shadow: 220px;
   font-weight: 200px;
   margin-left: 0%;
   margin-right: 20%;
}

p{
   font-style: normal bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 100%;
}
body{
   background-color: beige;
}
